.logofooter{
    height: 100%;
    position: absolute;
    margin-top:-30px;
    left: 10%;
}
.footer{
    background-color: #3d3e42;
    margin-top: -20px;
   
}
.btn{
    background-color: transparent;
}
.justify-content-end{
    display:flex;
    margin-top: 30px;
}
.footer-text{
    color: white ;
    background-color: transparent;
    margin-top: 5%;
    text-align: left;
    }
    .h6-white{
        color: white ;
        background-color: transparent;
        text-align: left;
        }