/*========================
25. Timeline Style CSS
===========================*/
@import '../base/variables';

.cd-timeline-wrap {
  position: relative;
  margin-top: 40px;
  text-align:'center';

  .timeline-icon{
    border: 2px solid $brandColor;
    border-radius: 50%;
    color: $brandColor;
    font-size: 7px;
    height: 70px;
    left: 50%;
    line-height: 65px;
    position: absolute;
    text-align: center;
    top: -70px;
    transform: translateX(-50%);
    width: 70px;
    background-color: white;

    @media #{$md-device, $sm-device} {
      top: -50px;
      left: -5px;
      transform: none;
      line-height: 45px;
      height: 50px;
      width: 50px;
    }
  }
  .icon 
  {
    margin-left: 12px;
    margin-top: 10px;
  }

  .cd-timeline {
    margin: 0;
    padding: 90px 0 100px;

    @media #{$sm-device} {
      padding: 60px 0 70px;
    }

    &:before {
      background-color: $brandColor;
    }

    &:after {
      background-color: $brandColor;
      border-radius: 50%;
      bottom: 0;
      content: "";
      height: 20px;
      left: 50%;
      margin-left: -10px;
      position: absolute;
      width: 20px;

      @media #{$md-device,$sm-device}{
        left: 0;
        margin-left: 10px;
      }
    }

    &-block {
      //hedhi 7ashti beha
      margin: 0 10 100px;

      @media #{$sm-device} {
        margin: 0 0 30px;
      }

      &:last-child {
        margin: -40px;
      }

      &:nth-child(2n) {
        .cd-timeline-content {
          text-align: left;
        }
      }

    }

    &-img {
      background-color: white;
      border: 2px solid $brandColor;
      -webkit-box-shadow: none;
      box-shadow: none;
      height: 35px;
      margin-left: -17.5px;
      top: 25px;
      width: 35px;
      z-index: 1;

      @media #{$md-device, $sm-device} {
        margin-left: 3px;
      }

      .dot {
        background-color: $brandColor;
        border-radius: 50%;
        display: block;
        height: 10px;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 10px;
      }
    }

    &-content {
      background-color: transparent;
      box-shadow: none;
      padding: 70px 0 0;
      text-align: right;

      @media #{$md-device, $sm-device} {
        text-align: left;
      }

      &:before {
        display: none;
      }

      h5 {
        color: $brandColor;
        font-weight: 600;
        margin-bottom: 5px;
        text-transform: uppercase;

        @media #{$sm-device} {
          font-size: 16px;
        }
      }

      p {
        margin: 5px;

        span {
          font-weight: 600;
        }
      }

      .cd-description {
        color: $paragraph;
        font-size: $baseFontSize !important;
        opacity: 1 !important;
        padding: 0;
        text-align: left;
      }
    }
  }

  .cd-heading {
    @media #{$md-device, $sm-device} {
      margin-bottom: 10px;
    }
  }
}


.brand-logo-item{
  img{
    margin: auto;
  }
}

.brand-logo-content{
  .slick-list{
    margin: 0 -10px;

    .slick-slide{
      padding: 0 10px;
    }
  }
}



.testimonial-list {
	display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
	grid-auto-rows: minmax(min-content,max-content);
	grid-gap: 1rem;
	
	list-style: none;
	padding: 0;
	
	flex-basis: 75%;
	width: 75%;
	
	min-width: 50%;
	max-width: 100%;
}

.testimonial {
	background: #fff;
	border-radius: 0.6rem;
	
	display: flex;
	flex-direction: column;
	align-items: center;
	
	padding: 0 2rem 3rem;
	
	overflow: hidden;
	
	position: relative;
	
	&::before {
		background: #369579;
		content: '';
		display: inline-block;
		width: 100%;
		height: 7rem;
		position: absolute;
	}
	
	img {
		border-radius: 50%;
		border: 0.4rem solid #369579;
		
		display: block;
		
		width: 8rem;
		height: 8rem;
		
		margin: 3rem 0 2rem;
		padding: 0;
		
		z-index: 1;
	}
	
	blockquote {		
		color: #657781;
		font-size: 1.2rem;
		
		max-width: 75ch;
		
		margin: 0;
		padding: 0 0 1rem;
		
		p {
			border-left: 0.3rem solid rgba(#369579,0.25);
			display: inline-block;
			position: relative;
			line-height: 1.5;
			letter-spacing: 0.01em;
			padding: 0 0 0 1.5rem;
			margin-left: -0.5rem;
		
			&::before,
			&::after {
				display: inline-block;
				font-size: 2.5em;
				line-height: 0;
				margin-top: 0.25em;
				opacity: 0.2;
				vertical-align: middle;
			}

			&::before {
				content: '“';
				margin-right: 0.2em;
			}

			&::after {
				content: '”';
				margin-left: 0.2em;
			}
		}
		
		cite {
			display: block;
			
			font-size: 0.8em;
			font-style: normal;
			
			text-align: right;
			text-transform: capitalize;
			
			margin: 1em 2rem;
			
			&::before {
				content: '— '
			}
		}
	}
}