.div1Style
{
    margin-top: 80px ;
    
    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    border-radius: 50px;
    background-color: rgb(75, 72, 72 , 0.1);
    border-top-left-radius: 40px !important;
   border-bottom-right-radius: 100px !important;

}
.titleInput
{
    font-family: 'Airbnb Cereal App Extra Bold' !important;
    text-decoration:underline #369579  !important;
    color: rgb(75, 72, 72) !important;
    text-decoration-thickness: 5px !important;
    font-size: 20px !important;


}
.boutonStyle
{
    background-color: #369579;
    border-top-left-radius: 50px !important;
    border-bottom-right-radius: 50px !important ;
    width: 300px;
    margin-top: 40px;
    margin-bottom: 30px;
    opacity: 90% !important;
}
