.auth-card-Mod-style1
{
    margin-left: auto;
    margin-right: auto;
    width: 1100px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 100px;
    background-color: transparent;
    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
}
.photo-Mod3
{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 5px 5px 30px 0px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
}
.second-div1
{
    margin-top: 40px;
}
.para-Mod1
{
    font-size: 18px;
    color: black;
}
.fa-fa-Mod1
{border: none;
    margin-top: -10px !important ;
    margin-right: 10px;
    margin-top: 7px ;
    float: right !important;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #3d3e42; 
    color: white;
    transition-duration: 0.4s
}
.fa-fa-Mod2
{border: none;
    margin-top: -10px !important ;
    margin-right: 10px;
    margin-top: 7px ;
    float: right !important;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #3d3e42; 
    color: white;
    transition-duration: 0.4s
}
th td tbody {
    color: black;
}
.button-Mod-Style
{
    float : right ;
    margin-left: 910px;
    margin-top: -30px;
    background-color: rgb(34,139,34, 0.75);
    width: 100px;
    border-radius: 10px;
    transition-duration: 0.4s;

}
.button-Mod-Style:hover 
{
    background-color: white;
    color: black;
    border: 2px solid rgb(34,139,34, 0.75);
}


.button-Mod-Style1
{
    float : right ;
    margin-left: 910px;
    margin-top: -30px;
    background-color: rgb(255,0,0, 0.75);
    width: 100px;
    border-radius: 10px;
    transition-duration: 0.4s;
}
.button-Mod-Style1:hover 
{
    background-color: white;
    color: black;
    border: 2px solid rgb(255,0,0,0.75);
}